* {
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%; /* Cambiado a 90% para ser más responsivo */
    max-width: 400px; /* Máximo ancho para pantallas grandes */
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #ff4081;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Botón ocupa todo el ancho */
}

button:hover {
    background-color: #e91e63;
}

/* Media Queries para mejorar la responsividad */
@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    input, button {
        padding: 8px; /* Menos padding en pantallas pequeñas */
    }
}