/* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f4f4f4;
        }

        /* Encabezado */
        .header {
            background-color: #333;
            color: white;
            padding: 20px 0;
        }

        .menu.container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }

        .logo {
            font-size: 24px;
            color: white;
            text-decoration: none;
        }

        .menu-icono {
            width: 25px;
            cursor: pointer;
        }

        .navbar ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .navbar ul li {
            margin: 0 10px;
        }

        .navbar ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
        }

        .navbar ul li a:hover {
            text-decoration: underline;
        }

        .navbar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: relative;
        }

        .navbar li {
            position: relative;
            display: inline-block;
            margin-right: 20px;
        }

        .navbar li a {
            text-decoration: none;
            padding: 10px;
            display: block;
        }

        .dropdown {
            display: none;
            position: absolute;
            background-color: #fb7217;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .navbar li:hover .dropdown {
            display: block;
        }

        .dropdown a {
            white-space: nowrap;
        }
        /* Contenido principal */
        .header-content.container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }

        .header-txt {
            max-width: 50%;
        }

        .header-txt h1 {
            font-size: 36px;
            color: #333;
        }

        .header-txt h1 span {
            color: #392924;
        }

        .header-txt p {
            font-size: 16px;
            color: #555;
            margin: 15px 0;
        }

        .header-img img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Botón */
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #2e201c;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #e64a19;
        }